:root {
    --color-mark: #ffa07a;
    --color-main: #24ffc8;
    --color-line: #076;
    --color-table-head: #043;
    --color-table-bg: #1e302e;
    --color-icon-not-work: #666;
    --color-code-border: #009973;
    --color-code-bg: #ddfedd
}

.nav-file-tag,
.search-result-file-matched-text {
    background-color: var(--color-mark);
    color: #000
}

.nav-file-title.is-active {
    background-color: #000;
    color: #fff
}

.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight,
.markdown-rendered mark {
    padding-right: 4px;
    padding-left: 2px;
    background-color: var(--color-mark);
    color: #000
}

.collapse-icon svg.svg-icon {
    color: var(--color-main)
}

.nav-folder-title-content {
    color: var(--color-mark);
    font-size: 110%
}

.inline-title {
    padding-bottom: 4px;
    border-bottom: 2px solid var(--color-mark)
}

td,
th {
    border: 2px solid var(--color-line) !important
}

th {
    background-color: var(--color-table-head) !important
}

td {
    background-color: var(--color-table-bg) !important
}

tr:hover td {
    background-color: var(--color-line) !important
}

.input-right-decorator.clickable-icon SVG {
    color: var(--color-icon-not-work) !important
}

.tag {
    padding: 4px 14px 4px 10px !important;
    border-radius: 0 !important;
    background-color: #244 !important;
    box-shadow: inset 2px 2px 2px #365, inset -2px -2px 2px #011;
    color: #0da !important
}

div.list-bullet:after {
    width: 16px;
    height: 16px;
    border-radius: unset;
    background-color: var(--color-main)
}

ul {
    padding-left: 20px !important
}

li {
    margin-top: 60px
}

code {
    display: block;
    margin-top: 18px;
    padding: 6px !important;
    border: 3px solid var(--color-code-border) !important;
    background-color: var(--color-code-bg) !important;
    color: #000 !important
}

.markdown-source-view.mod-cm6.is-readable-line-width .cm-content,
.markdown-source-view.mod-cm6.is-readable-line-width .cm-line {
    max-width: 100%
}

.clickable-icon,
.input-right-decorator.clickable-icon.is-active SVG,
.workspace-tab-header-inner-close-button,
.workspace-tab-header-inner-icon {
    color: var(--color-main) !important
}

.cm-sizer,
.markdown-preview-sizer.markdown-preview-section {
    max-width: 85% !important
}

.external-link,
.internal-link {
    text-underline-offset: 5px !important
}